.MarketingApp h1 {
  text-align: center;
  color: #0098b6;
  font-family: 'Montserrat', sans-serif;

}

.MarketingApp h2 {
  text-align: center;
  color: #0098b6;
  font-family: 'Montserrat', sans-serif;
}

.MarketingApp h3 {
  text-align: center;
  color: #bc5841;
}

.MarketingApp h4 {
  text-align: center;
  color: black;
}
