$main: #818080;
$blue: #33B9D3;

.DesignedApp {
  color: $main;
  font-family: Montserrat, sans-serif;
  text-align: center;

  h2 {
    color: $blue;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 46px auto 34px;
    width: 70%;

    @media (max-width: 750px) {
      font-size: 20px;
      line-height: 24px;
      margin: 32px auto 34px;
    }

    span {
      font-size: 28px;
      line-height: 34px;

      @media (max-width: 750px) {
        font-size: 24px;
        line-height: 29px;
      }
    }
    strong {
      font-size: 36px;
      line-height: 44px;

      @media (max-width: 750px) {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }

  .Filters {margin-bottom: 100px;}
}
