$main: #818080;
$blue: #33B9D3;

.DesignedApp {
  color: $main;
  font-family: Montserrat, sans-serif;
  padding-bottom: 80px;
  text-align: center;

  .smallTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }

  h2 {
    color: $blue;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 25px auto 34px;
    width: 70%;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 24px;
      margin: 32px auto 34px;
    }

    span {
      font-size: 28px;
      line-height: 34px;

      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 29px;
      }
    }

    strong {
      font-size: 36px;
      line-height: 44px; 

      @media (max-width: 767px) {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }

  .verdict {
    color: $blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin: 40px auto 35px;

    @media (max-width: 767px) {
      border-radius: 8px;
      box-shadow: 0 2px 12px transparentize(#000, .88);
      font-size: 16px;
      line-height: 19px;
      margin: 36px auto;
      padding: 25px 15px;
    }

    .sign {
      border: 4px solid $blue;
      border-radius: 50%;
      color: transparent;
      display: inline-block;
      height: 38px;
      margin: 0 8px;
      position: relative;
      top: 6px;
      width: 38px;

      @media (max-width: 767px) {
        border-width: 2px;
        height: 18px;
        margin: 0 6px;
        top: 3px;
        width: 18px;
      }

      &:before,
      &:after {
        background: $blue;
        display: block;
        content: '';
        position: absolute;
      }

      &:before {
        height: 4px;
        left: calc(50% - 11px);
        top: calc(50% - 2px);
        width: 22px;

        @media (max-width: 767px) {
          height: 2px;
          left: calc(50% - 6px);
          position: absolute;
          top: calc(50% - 1px);
          width: 12px;
        }
      }

      &:after {
        height: 22px;
        left: calc(50% - 2px);
        top: calc(50% - 11px);
        width: 4px;

        @media (max-width: 767px) {
          height: 12px;
          left: calc(50% - 1px);
          position: absolute;
          top: calc(50% - 6px);
          width: 2px;
        }
      }
    }

    .negative {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;

      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 16px;
        margin-top: 10px;
      }

      .sign {
        border-width: 4px;
        height: 24px;
        margin: 0 4px;
        top: 4px;
        width: 24px;

        @media (max-width: 767px) {
          border-width: 2px;
          height: 14px;
          margin: 0 2px;
          top: 2px;
          width: 14px;
        }

        &:before {
          height: 4px;
          left: calc(50% - 7px);
          top: calc(50% - 2px);
          width: 14px;

          @media (max-width: 767px) {
            height: 2px;
            left: calc(50% - 5px);
            top: calc(50% - 1px);
            width: 10px;
          }
        }

        &:after {
          height: 14px;
          left: calc(50% - 2px);
          top: calc(50% - 7px);
          width: 4px;

          @media (max-width: 767px) {
            height: 10px;
            left: calc(50% - 1px);
            top: calc(50% - 5px);
            width: 2px;
          }
        }
      }
    }
  }
}
