$main: #818080;
$border: #DBDBDB;
$input-border: #C1C1C1;
$input-placeholder: #B8B8BB;

$blue: #33B9D3;

.Filters {
  display: table;
  border-radius: 8px;
  box-shadow: 0 2px 12px transparentize(#000, .88);
  width: 100%;

  @media (max-width: 767px) {display: block;}

  .left,
  .right {
    display: table-cell;
    width: 50%;

    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  .left {
    border-right: 1px solid $border;
    width: calc(50% - 1px);

    @media (max-width: 767px) {
      border: 0;
      width: 100%;
    }
  }

  .revenu,
  .situation {border-bottom: 1px solid $border;}

  input {
    border: 1px solid $input-border;
    border-radius: 5px;
    color: $main;
    font-family: 'Open Sans', sans-serif;
    height: 36px;
    padding: 0px 14px;

    &:focus {
      outline: 0;
      border-color: $blue;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px transparentize($blue, .9);
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $input-placeholder;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $input-placeholder;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $input-placeholder;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $input-placeholder;
    }
  }

  .revenu {
    padding: 34px 0 28px;

    @media (max-width: 767px) {padding: 25px 0 22px;}

    label {
      display: inline-block;
      line-height: 19px;
      width: 65%;
    }

    input {
      font-size: 15px;
      margin-top: 20px;
      width: 65%;

      @media (max-width: 767px) {margin-top: 8px;}
    }
  }

  .pension {
    display: table;
    width: 100%;

    @media (max-width: 767px) {border-bottom: 1px solid $border;}

    .left,
    .right {
      padding: 14px 0 40px;

      @media (max-width: 767px) {
        display: table-cell;
        padding: 18px 12px 20px;
        width: 50%;
      }
    }

    label {
      font-size: 12px;
      line-height: 15px;

      @media (max-width: 767px) {
        display: inline-block;
      }
    }

    input {
      font-size: 13px;
      margin-top: 10px;
      width: 58%;

      @media (max-width: 767px) {margin-top: 2px;}
    }
  }

  .situation {
    font-size: 14px;

    @media (max-width: 767px) {padding-top: 15px;}

    p {margin-bottom: 10px;}

    label {
      border: 1px solid $border;
      border-radius: 20px;
      color: $input-placeholder;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      height: 25px;
      line-height: 25px;
      margin: 0 5px 50px;
      padding: 0 15px;
      transition: .1s linear;

      @media (max-width: 767px) {margin-bottom: 18px;}
    }

    input {
      left: -9999px;
      position: absolute;
    }

    label:hover,
    input:checked + label {
      background: $blue;
      border-color: transparent;
      color: #fff;
    }
  }

  .enfant {
    @media (max-width: 767px) {padding-bottom: 25px;}

    p {
      font-size: 14px;
      margin: 16px 0 15px;
    }

    .Select {
      margin: auto;
      width: 35%;

      @media (max-width: 767px) {width: 72%;}

      .Select-value-label {
        color: $main !important;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
      }

      &.is-focused:not(.is-open) > .Select-control {
        border-color: $blue;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px transparentize($blue, .9);
      }

      .Select-option {
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0 8px;
        text-align: left;

        &.is-focused,
        &.is-selected {background: transparentize($blue, .92);}
      }
    }
  }
}
