$ico: #C5C7C8;
$border: #DEDEDE;
$blue: #22B9D0;

.HelpPopin {
  position: absolute;
  right: 10px;
  top: 10px;

  @media (max-width: 767px) {display: none;}

  .ico {
    background: #fff;
    border: 1px solid $ico;
    border-radius: 50%;
    color: $ico;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    height: 18px;
    width: 18px;
    z-index: 10;
  }

  .popin {
    background: #fff;
    border: 1px solid $border;
    border-radius: 8px;
    box-shadow: 0 2px 12px transparentize(#000, .9);
    color: $blue;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    //right: -100px;
    right: -45px;
    text-align: left;
    top: 28px;
    transform: translateY(-20px);
    transition: .3s;
    width: 200px;

    &:before {
      content: '';
      border-color: transparent transparent $border transparent;
      border-style: solid;
      border-width: 0 9px 7px 9px;
      height: 0;
      position: absolute;
      right: 45px;
      top: -7px;
      width: 0;
    }

    &:after {
      content: '';
      border-color: transparent transparent #ffffff transparent;
      border-style: solid;
      border-width: 0 7px 5px 7px;
      height: 0;
      position: absolute;
      right: 47px;
      top: -5px;
      width: 0;
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ul {margin: 12px 12px 12px 28px;}

  li {
    margin-bottom: 10px;

    span {
      display: block;
      margin-left: -4px;
    }
  }
}
