$main: #818080;
$border: #E9E7EA;

$darkred: #9C1B00;
$red: #D1270C;
$darkblue: #1B90A7;
$blue: #33B9D3;

.ResultCard {
  border-radius: 8px;
  box-shadow: 0 2px 12px transparentize(#000, 0.88);
  margin: auto;
  padding: 26px 30px 0;
  width: 95%;

  @media (max-width: 767px) {
    margin-bottom: 31px;
    padding-bottom: 4px;
  }

  h3 {
    color: $main;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .content {
    display: table;
    margin-bottom: 30px;
  }

  .left,
  .right {display: table-cell;}

  .left {
    padding: 0 5px 0 10px;
    width: 90%;
  }

  ul {
    list-style: none;
    margin: 0;
    text-align: left;
  }

  li {
    &:first-child {margin-bottom: 25px;}

    &:before {
      content: '';
      display: inline-block;
      height: 10px;
      position: relative;
      top: -2px;
      width: 10px;
    }

    > span {
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
      text-transform: uppercase;
      vertical-align: top;
      width: calc(100% - 20px);
    }

    strong {
      display: block;
      font-size: 30px;
    }
  }

  sup {
    position: relative;
    top: -1px;
    text-transform: none;
    font-size: 12px;
    font-weight: 400;
  }

  .right {
    height: 100%;
    width: 10%;
  }

  .total {
    border-top: 1px solid $border;
    font-weight: 700;
    margin: 12px auto;
    padding: 12px 0;
    text-transform: uppercase;

    strong {font-size: 30px;}
  }

  &.red {
    h3 strong {
      color: $red;
    }

    li:first-child{
      color: $red;
      &:before {background: $red;}
    }
    li:last-child{
      color: $darkred;
      &:before {background: $darkred;}
    }

    .total {color: $red;}
  }

  &.blue {
    h3 strong {
      color: $blue;
    }

    li:first-child{
      color: $blue;
      &:before {background: $blue;}
    }
    li:last-child{
      color: $darkblue;
      &:before {background: $darkblue;}
    }

    .total {color: $blue;}
  }
}
