$border: #E9E7EA;

$darkred: #9C1B00;
$red: #D1270C;
$darkblue: #1B90A7;
$blue: #33B9D3;

.ResultCard {
  border-radius: 8px;
  box-shadow: 0 2px 12px transparentize(#000, 0.88);
  padding: 26px 0 0;

  @media (max-width: 767px) {
    margin-bottom: 31px;
    padding-bottom: 4px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 42px;

    @media (max-width: 767px) {margin-bottom: 18px;}
  }

  .amount {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 10px;
    }
  }

  sup {
    font-size: 12px;
  }

  .legend {
    display: table;
    height: 125px;
    margin-top: 42px;
    width: 100%;

    @media (max-width: 767px) {margin-top: 15px;}

    .left,
    .right,
    .center {
      display: table-cell;
      font-size: 13px;
      height: 100%;
      line-height: 16px;
      width: 50%;

      &:before {
        background: #000;
        display: block;
        content: '';
        height: 16px;
        margin: 25px auto 7px;
        width: 16px;

        @media (max-width: 767px) {margin-bottom: 14px;}
      }
    }

    .left {
      border-right: 1px solid $border;
      width: calc(50% - 1px);
    }

    .center {width: 100%;}
  }

  &.red {
    .amount {color: $darkred}

    .legend {
      .left:before {background: $red;}
      .right:before {background: $darkred;}
    }
  }

  &.blue {
    .amount {color: $darkblue}

    .legend {
      .left:before,
      .center:before {background: $blue;}
      .right:before {background: $darkblue;}
    }
  }
}
