$main: #818080;
$border: #E9E7EA;

$darkred: #9C1B00;
$red: #D1270C;
$darkblue: #1B90A7;
$blue: #33B9D3;

.ResultCard {
  border-radius: 8px;
  box-shadow: 0 2px 12px transparentize(#000, 0.88);
  padding: 26px 0 0;

  @media (max-width: 767px) {
    margin-bottom: 31px;
    padding-bottom: 4px;
  }

  h3 {
    color: $main;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;

    @media (max-width: 767px) {margin-bottom: 18px;}
  }

  .amount {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 15px;

    @media (max-width: 1039px) {
      font-size: 35px;
      line-height: 46px;
    }

    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 10px;
    }
  }

  .legend {
    display: table;
    height: 125px;
    margin-top: 42px;
    width: 100%;

    @media (max-width: 767px) {margin-top: 15px;}

    .left,
    .right,
    .center {
      display: table-cell;
      font-size: 13px;
      height: 100%;
      line-height: 16px;
      padding-bottom: 38px;
      width: 50%;

      &:before {
        display: block;
        content: '';
        height: 16px;
        margin: 25px auto 7px;
        width: 16px;

        @media (max-width: 767px) {margin-bottom: 14px;}
      }
    }

    .left {
      border-right: 1px solid $border;
      width: calc(50% - 1px);
    }

    .center {width: 100%;}

    .absolute {
      display: block;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }

  &.red {
    .amount {color: $darkred}

    .legend {
      .center,
      .left {
        .absolute {color: $red}
        &:before {background: $red;}
      }
      .right {
        .absolute {color: $darkred}
        &:before {background: $darkred;}
      }
    }
  }

  &.blue {
    .amount {color: $darkblue}

    .legend {
      .center,
      .left {
        .absolute {color: $blue;}
        &:before {background: $blue;}
      }
      .right {
        .absolute {color: $darkblue;}
        &:before {background: $darkblue;}
      }
    }
  }
}
