.ResultChart {
  border-radius: 100px;
  margin: auto;
  overflow: hidden;
  width: 75%; }

.ResultChart .left,
.ResultChart .right {
  color: #fff;
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  line-height: 44px; }

.ResultChart .left {
  background: #aaa;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  width: 65%; }

.ResultChart .right {
  background: #000;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  width: 35%; }

.ResultChart.red .left {
  background: #D1270C; }

.ResultChart.red .right {
  background: #9C1B00; }

.ResultChart.blue .left {
  background: #33B9D3; }

.ResultChart.blue .right {
  background: #1B90A7; }
