$darkred: #9C1B00;
$red: #D1270C;
$darkblue: #1B90A7;
$blue: #33B9D3;

.ResultChart {
  border-radius: 100px;
  height: 100%;
  overflow: hidden;
  width: 18px;

  .top,
  .bottom {
    display: inline-block;
    height: 50%;
    transition: .7s height;
    width: 100%;
  }

  &.red {
    background: $red;
    .bottom {background: $darkred;}
  }

  &.blue {
    background: $blue;
    .bottom {background: $darkblue;}
  }
}
