.ResultChart {
  border-radius: 100px;
  margin: auto;
  overflow: hidden;
  width: 242px; }
  .ResultChart .left,
  .ResultChart .right {
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    line-height: 44px; }
  .ResultChart .left {
    background: #aaa;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width: 65%; }
  .ResultChart .right {
    background: #000;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    width: 35%; }
  .ResultChart.red .left {
    background: #66160F; }
  .ResultChart.red .right {
    background: #D1270C; }
  .ResultChart.blue .left {
    background: #1A2D51; }
  .ResultChart.blue .right {
    background: #22B9D0; }
