.ResultCard {
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  padding: 26px 0 0; }

.ResultCard h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 42px; }

.ResultCard .amount {
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 15px; }

.ResultCard .legend {
  display: table;
  height: 125px;
  margin-top: 42px;
  width: 100%; }

.ResultCard .legend .left,
.ResultCard .legend .right {
  display: table-cell;
  font-size: 13px;
  height: 100%;
  line-height: 16px;
  width: 50%; }

.ResultCard .legend .left:before,
.ResultCard .legend .right:before {
  background: #000;
  display: block;
  content: '';
  height: 16px;
  margin: 25px auto 7px;
  width: 16px; }

.ResultCard .legend .left {
  border-right: 1px solid #E9E7EA;
  width: calc(50% - 1px); }

.ResultCard.red .amount {
  color: #9C1B00; }

.ResultCard.red .legend .left:before {
  background: #D1270C; }

.ResultCard.red .legend .right:before {
  background: #9C1B00; }

.ResultCard.blue .amount {
  color: #1B90A7; }

.ResultCard.blue .legend .left:before {
  background: #33B9D3; }

.ResultCard.blue .legend .right:before {
  background: #1B90A7; }
