$darkred: #9C1B00;
$red: #D1270C;
$darkblue: #1B90A7;
$blue: #33B9D3;

.ResultChart {
  border-radius: 100px;
  margin: auto;
  overflow: hidden;
  width: 75%;

  @media (max-width: 1039px) {width: 90%;}

  .left,
  .right {
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    line-height: 44px;
  }

  .left {
    background: #aaa;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width: 65%;
  }

  .right {
    background: #000;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    width: 35%;

    @media (max-width: 1039px) {
      vertical-align: top;
      font-size: 20px;
    }
    @media(max-width: 767px) {font-size: 18px;}    
  }

  &.red {
    .left {background: $red;}
    .right {background: $darkred;}
  }

  &.blue {
    .left {background: $blue;}
    .right {background: $darkblue;}
  }
}
