$facebook: #3b5998;
$twitter: #4099FF;
$red: #D1270C;

.ShareButtons {
  margin-top: 30px;

  @media (max-width: 767px) {margin-top: 20px;}

  .facebook,
  .twitter,
  .jlm {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    margin: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s linear;
    width: 290px;

    @media (max-width: 1039px) {
      font-size: 13px;
      margin: 0 5px;
      width: 210px;
    }

    @media (max-width: 767px) {
      margin: 5px 0;
      width: 100%;
    }
  }

  .facebook {
    background: $facebook;

    &:hover {background: lighten($facebook, 8%);}
  }

  .twitter {
    background: $twitter;

    &:hover {background: lighten($twitter, 5%);}
  }

  .jlm {
    background: $red;

    &:hover {background: lighten($red, 5%);}
  }
}
