body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label {
  font-weight: 400; }

sup {
  position: static; }

.align-center {
  display: flex;
  justify-content: center;
  align-items: center; }
